{
  "presets": ["babel-preset-expo"],
  "env": {
    "development": {
      "plugins": ["root-import", "transform-react-jsx-source"]
    }
  },
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./App", "../platform/sdk/react-native"],
        "extensions": [".js", ".ios.js", ".android.js"]
      }
    ]
  ]
}
