<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EXPO_RUNTIME_VERSION</key>
	<string>1.20.5</string>
	<key>developmentUrl</key>
	<string>exp5ab226684828480082a9429a5f53e51c://ft-nxh.vmagro.mymap-mobile.exp.direct:80</string>
</dict>
</plist>
